:root {
    --gradiente-base: linear-gradient(195deg, #2b3a72 0%, #040518 70%);
    --gradiente-alter: linear-gradient(180deg, #364b9b, #040518);
    --gradiente-azul-claro: linear-gradient(-90deg, #1c2957 10%, #2c4ab6 40%);

    --gradiente-vermelho: linear-gradient(90deg, #840C15 10%, #BA2221 40%);

    --vermelho-forte: #ff000d;
    --vermelho-base: #ED2625;
    --vermelho-opaco: #ed252591;
    --vermelho-escuro: #840c15;

    --azul-claro: #7790ec;
    --azul-escuro: #020316;
    --azul-base: #182143;

    --branco-base: #f8f8f8;
    --branco-opaco: #f8f8f89a;

    --preto-base: #252525;

    --link-color: var(--azul-claro);
    --link-color-hover: var(--vermelho-base);

    --text-color: var(--branco-base);
}