@import url(theme/theme.css);
/*MARGENS*/

#imagem-app-site {
    margin-bottom: 100px;
}

/* ESTILOS DOS BTN APP */
.inicio-aplicativos-relevantes,
.aplicativos-categoria {
    color: white;
}

.flex-lado-quebra {
    display: flex;
    justify-content: center;
}

.app-relevante,
.app-categoria {
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
}



/* ESTILOS IMAGENS PROPAGANDA */
.imagem-propaganda {
    width: 100%;
    margin: 0% 0;
    padding: 0;
}

.imagem-propaganda img {
    width: 100%;
    height: 100%;
}