 /* estilos do site e da pesquisa */
 main {
   padding: 5%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }

 form {
   width: 80%;
   max-width: 600px;
   margin-top: 5rem;
   margin-bottom: 15px;
 }

 * {
   box-sizing: border-box;
 }

 /* pesquisar */
 .form-pesquisar input[type=text] {
   padding: 10px;
   font-size: 17px;
   border: 1px solid rgb(255, 255, 255);
   float: left;
   width: 90%;
   border-radius: 20vh 0 0 20vh;
 }

 .form-pesquisar input[type=text]:valid:focus {
   border: 1px solid var(--vermelho-forte);
 }

 .form-pesquisar button {
   float: left;
   width: 10%;
   padding: 10px;
   background: #BA2221;
   color: white;
   font-size: 17px;
   border: 1px solid rgb(255, 255, 255);
   border-left: none;
   cursor: pointer;
   border-radius: 0 20vh 20vh 0;
 }

 .form-pesquisar button:hover {
   background: #ac242b;
 }

 /* Clear floats */
 .form-pesquisar::after {
   content: "";
   clear: both;
   display: table;
 }