<footer class="fim-site">

    <div class="flex-rodape">

        <article class="sobre-rodape">

            <a class="ancora-fatectools" href="/fatec-tools">
                <h1>Fatec <span>tools</span></h1>
            </a>

            <p>
                O site Fatec Tools foi para auxiliar os alunos para encontrar de forma rápida e facil as ferramentas
                que serão usadas ao longo de seus cursos, também encontrará artigos para estudo.
            </p>

            <a class="ancora-sublinhado" href="/fatec-tools/sobre-nos">
                <h3>Sobre Nós</h3>
            </a>

        </article>

        <div id="traco-branco"> </div>

        <article class="disciplinas-rodape">

            <h1 id="Cursos-disciplinas">Cursos e disciplinas</h1>

            <div>
                <ul>
                    <li>
                        <h4><a class="ancora-sublinhado" href="/fatec-tools/desenvolvimento-web">Desenvolvimento Web</a>
                        </h4>
                    </li>
                    <li>
                        <h4><a class="ancora-sublinhado" href="/fatec-tools/design-web">Design Digital</a></h4>
                    </li>
                    <li>
                        <h4><a class="ancora-sublinhado" href="/fatec-tools/EM_BREVE">Engenharia de Software</a></h4>
                    </li>
                    <li>
                        <h4><a class="ancora-sublinhado" href="/fatec-tools/EM_BREVE">Modelagem de Banco da Dados</a>
                        </h4>
                    </li>
                    <li>
                        <h4><a class="ancora-sublinhado" href="/fatec-tools/EM_BREVE">Sistemas operacionais</a></h4>
                    </li>
                    <li>
                        <h4><a class="ancora-sublinhado" href="/fatec-tools/EM_BREVE">Algoritmos e Logica de
                                Programção</a>
                        </h4>
                    </li>
                </ul>
            </div>
        </article>

        <div id="traco-branco"> </div>

        <article class="contato-rodape">
            <h1 id="entrar-contato">Contato</h1>
            <p>
                Achou um erro? ou senão tem uma sugestão, entre em contato conosco!
            </p>

            <form action="#" method="post" autocomplete="off">
                <fieldset>

                    <legend>Formulário de contato</legend>

                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" required placeholder="Digite seu nome completo" />

                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" required placeholder="Digite um e-mail válido" />

                    <label for="subject">Assunto</label>
                    <input type="text" name="subject" id="subject" />

                    <label for="message">Mensagem</label>
                    <textarea name="message" id="message" rows="7" required maxlength="1000" minlength="20"
                        placeholder="Conte-nos tudo"></textarea>

                    <input type="submit" class="btn-vermelho" value="Enviar">

                </fieldset>
            </form>
        </article>
    </div>
</footer>