<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/STYLE_TOP_CABEÇALHO.css">
    <link rel="stylesheet" href="css/style_pagina_sobre_nos.css">

    <!-- ICON PESQUISA -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0" />


    <title>FATEC tools - Sobre Nós</title>
    <link rel="icon" href="img/ICON_SITE_FATECTOOLS.png" type="image/png">
</head>

<body>
    <!-- INICIO TOPO SITE -->
    <header class="topo-site">

        <nav class="topo-nav">

            <div class="topo-direita">

                <a class="ancora-fatectools" href="index.html">
                    <h4>Fatec <span>tools</span></h4>
                </a>

                <h4 class="traco-header">|</h4>

                <div class="menu-toggle" id="menu-toggle">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>

                <ul class="nav-links ativo" id="nav-links">
                    <div class="opcoes">
                        <ul>
                            <li><a class="text-ancora" href="index.html">Início</a></li>
                            <li><a class="text-ancora" href="pagina_sobre_nos.html">Sobre nós</a></li>
                            <li><a class="text-ancora" href="#Cursos-disciplinas">Cursos</a></li>
                            <li><a class="text-ancora" href="#Cursos-disciplinas">Disciplinas</a></li>
                            <li><a class="text-ancora" href="#entrar-contato">Contato</a></li>
                            <li><a class="text-ancora" href="PAGE_PESQUISA.html">Pesquisar</a></li>

                            <li class="perfil-div">
                                <a href="pagina_login.html"><button class="btn-vermelho">Entrar</button></a>
                            </li>
                        </ul>

                    </div>

                </ul>
                
            </div>

        </nav>
    </header> <!-- FIM TOPO SITE -->


    <!-- CONTEUDO PRINCIPAR -->
    <main>
        <!-- ARTIGO DO OBJETIVO DO FATEC TOOLS -->
        <article class="section-red objetivo">
            <div class="left-objetivo">
                <img src="img/FOTO-COLABS/Group 11.png" alt="Logo FATEC tools">
            </div>

            <div class="right-objetivo">
                <h1>Objetivo Fatec <span>tools</span></h1>
                <p>
                    o FATEC tools tem a finalidade de ser um site para primeiros contatos com as ferramentas que os
                    alunos da fatec usarão ao longo do curso, o FATEC tools não fica preso somente para os alunos como
                    também para qualquer pessoa não aluno.
                </p>
            </div>
        </article>

        <!-- ARTIGO DOS CARDS DOS COLABORADORES -->
        <article class="colaboradores">
            <h1>Colaboradores</h1>

            <div class="card-colabs">
                <div class="colab-red colabs">
                    <div class="left-colab">
                        <img src="img/FOTO-COLABS/LOGO_FATECTOOLS.png" alt="">
                    </div>

                    <div class="right-colab">

                        <h1>Amauri Barbieri</h1>

                        <p><a href="https://github.com/Flaritos1" target="_blank">GitHub</a>
                            |
                            <a href="" target="_blank">LinkedIn</a>
                        </p>
                    </div>
                </div>

                <div class="colab-blue colabs">
                    <div class="left-colab">
                        <img src="img/FOTO-COLABS/CALABS-FOTO(4).jfif" alt="">
                    </div>
                    <div class="right-colab">

                        <h1>Lucas Nono</h1>

                        <p>
                            <a href="https://github.com/LucassEduardoBragaNono" target="_blank">GitHub</a>
                            |
                            <a href="https://www.linkedin.com/in/lucas-nono-44b6282b5/" target="_blank">LinkedIn</a>
                        </p>
                    </div>
                </div>

                <div class="colab-blue colabs .colab-red-alternar">
                    <div class="left-colab">
                        <img src="img/FOTO-COLABS/CALBAS-FOTO (1).jpg" alt="">
                    </div>
                    <div class="right-colab">

                        <h1>Vinicius Gimenes</h1>

                        <p>
                            <a href="https://github.com/ViniciusGimenesdosSantos" target="_blank">GitHub</a>
                            |
                            <a href="" target="_blank">LinkedIn</a>
                        </p>
                    </div>
                </div>

                <div class="colab-red colabs">

                    <div class="left-colab">
                        <img src="img/FOTO-COLABS/CALBAS-FOTO (3).jpg" alt="">
                    </div>
                    <div class="right-colab">

                        <h1>Vinicius Nascimento</h1>

                        <p>
                            <a href="https://github.com/vnicus" target="_blank">GitHub</a>
                            |
                            <a href="https://www.linkedin.com/in/viniciussilvanascimento/" target="_blank">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <!-- RODAPE -->
    <footer class="fim-site">

        <div class="flex-rodape">

            <article class="sobre-rodape">

                <a class="ancora-fatectools" href="index.html">
                    <h1>Fatec <span>tools</span></h1>
                </a>

                <p>
                    O site Fatec Tools foi para auxiliar os alunos para encontrar de forma rápida e facil as ferramentas
                    que serão usadas ao longo de seus cursos, também encontrará artigos para estudo.
                </p>

                <a class="ancora-sublinhado" href="pagina_sobre_nos.html">
                    <h3>Sobre Nós</h3>
                </a>

            </article>

            <div id="traco-branco"> </div>

            <article class="disciplinas-rodape">

                <h1 id="Cursos-disciplinas">Cursos e disciplinas</h1>

                <div>
                    <ul>
                        <li>
                            <h4><a class="ancora-sublinhado" href="pagina_devWeb.html">Desenvolvimento Web</a></h4>
                        </li>
                        <li>
                            <h4><a class="ancora-sublinhado" href="PAGE_designdigital.html">Design Digital</a></h4>
                        </li>
                        <li>
                            <h4><a class="ancora-sublinhado" href="EM_BREVE.html">Engenharia de Software</a></h4>
                        </li>
                        <li>
                            <h4><a class="ancora-sublinhado" href="EM_BREVE.html">Modelagem de Banco da Dados</a></h4>
                        </li>
                        <li>
                            <h4><a class="ancora-sublinhado" href="EM_BREVE.html">Sistemas operacionais</a></h4>
                        </li>
                        <li>
                            <h4><a class="ancora-sublinhado" href="EM_BREVE.html">Algoritmos e Logica de Programção</a>
                            </h4>
                        </li>
                    </ul>
                </div>
            </article>

            <div id="traco-branco"> </div>

            <article class="contato-rodape">
                <h1 id="entrar-contato">Contato</h1>
                <p>
                    Achou um erro? ou senão tem uma sugestão, entre em contato conosco!
                </p>

                <form action="#" method="post" autocomplete="off">
                    <fieldset>

                        <legend>Formulário de contato</legend>

                        <label for="name">Nome</label>
                        <input type="text" name="name" id="name" required placeholder="Digite seu nome completo" />

                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" required placeholder="Digite um e-mail válido" />

                        <label for="subject">Assunto</label>
                        <input type="text" name="subject" id="subject" />

                        <label for="message">Mensagem</label>
                        <textarea name="message" id="message" rows="7" required maxlength="1000" minlength="20"
                            placeholder="Conte-nos tudo"></textarea>

                        <input type="submit" class="btn-vermelho" value="Enviar">

                    </fieldset>
                </form>
            </article>
        </div>
    </footer>
</body>

<script src="js/menu-sanduiche.js"></script>

<script type="text/javascript">
    function Define_Colabs_Colors() {

        if (window.innerWidth < 1550) {
            let indice = 0;

            const cores_mobile = [
                "linear-gradient(-90deg, #840C15 10%, #BA2221 40%)",
                "linear-gradient(-90deg, #1c2957 10%, #2c4ab6 40%)"
            ];

            document.querySelectorAll(".colabs").forEach(item => {

                item.style.background = cores_mobile[indice];
                indice = (indice > 0) ? 0 : 1;

            });

        } else {

            let contador = 0;

            const cores_desktop = [
                "linear-gradient(-90deg, #840C15 10%, #BA2221 40%)",
                "linear-gradient(-90deg, #1c2957 10%, #2c4ab6 40%)",
                "linear-gradient(-90deg, #1c2957 10%, #2c4ab6 40%)",
                "linear-gradient(-90deg, #840C15 10%, #BA2221 40%)",
                "linear-gradient(-90deg, #840C15 10%, #BA2221 40%)",
                "linear-gradient(-90deg, #1c2957 10%, #2c4ab6 40%)",
                "linear-gradient(-90deg, #840C15 10%, #BA2221 40%)"
            ];

            document.querySelectorAll(".colabs").forEach(item => {

                item.style.background = cores_desktop[contador];
                contador++;

            });
        }
    }

    window.addEventListener("load", Define_Colabs_Colors);
    window.addEventListener("resize", Define_Colabs_Colors);    
</script>



</html>